<div class='nested-fields'>
  <div class="row">
  <div class="large-2 columns">
    <%= f.label :amount%>
  <%= f.number_field :amount, :placeholder => "#" %>
</div>
<div class="large-4 columns">
  <%= f.label :measure%>
  <%= f.text_field :measure, :placeholder => "cup, pinch, etc"  %>
</div>
<div class="large-6 columns">
  <%= f.label :name, "Ingredient" %>
  <%= f.text_field :name %>

  <%= link_to_remove_association "remove", f %>
</div>
</div>
</div>
