<%content_for :header do%>
  <%= link_to "Reciperocity", root_path, class:'top-page' %>
<%end%>
<%if current_user.nil?%>
  <div class="row">
    <div class="large-4 large-centered columns">
      <h4 class="page-title">Please sign up or in</h4>
        <%= link_to content_tag(:i, nil, class: "fa fa-child fa-5x"), "#", data: {:'reveal-id' => 'welcome-modal'}, id:"sign-in" %><br><br><br>
       <h5 class="page-title">(click me!)</h5>


        <div id="welcome-modal" class="reveal-modal" data-reveal>
          <h2 class="page-title">Hey, welcome</h2>
          <div class="large-2 large-centered columns">
            <h4><%= link_to "Sign in", "#", data: {:'reveal-id' => 'sign-in-modal'}%></h4>
            <h4><%= link_to "Sign up", "#", data: {:'reveal-id' => 'sign-up-modal'}%></h4>

            <div id="sign-in-modal" class="reveal-modal" data-reveal>
              <%= render partial: 'devise/sessions/new'%>
              <a class="close-reveal-modal">&#215;</a>
            </div>

            <div id="sign-up-modal" class="reveal-modal" data-reveal>
              <%= render partial: 'registrations/new'%>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div>
  </div>
  </div>
<%end%>
<body>
<%if current_user != nil%>
<%= form_tag recipes_path, :method => :get do %>
        <div class="row">
          <div class="large-4 columns">
        <div class="row collapse">
          <%= text_field_tag :search, params[:search], class: "search", :placeholder => "Search by Dish name or Ingredient", :autocomplete => :off %>
          </div>
           <%= submit_tag "Search", :name => nil, class: 'button gogo' %>
           <% end %>
      </div>
    </div>

  <div class="large-1 large-left columns sidebar" id="cutlery">
    <h3 class="page-title" id="sidebarheader">Dig in!</h3>
    <div class="side-icons">
 <span data-tooltip class="tip-right" title="Add a Recipe">
 <%= link_to (image_tag 'recipe.png', class:'potluckpic', id:"newrecipe"), root_path%>
    </span>

    <span data-tooltip class="tip-right" title="Add To Cookbook">
      <%= link_to (image_tag 'cookbookw.png', class: "potluckpic",id:'cookbook'), '#', class:'potluckpic' %>
      </span>
      <span data-tooltip class="tip-right" title="Make a New Potluck"> <%= link_to (image_tag 'slice1.png', class:'potluckpic', id: "pot"), root_path%></span>

    <span data-tooltip class="tip-right" title="Table Settings">
<%= link_to (image_tag 'settings.png', class:'potluckpic', id:'settings', data: {:'reveal-id' => 'user-modal'}) %>
</span>

 </div>
  </div>


<div class="row" id="index-partial">
  <div class="large-12 large-centered columns">
  <%= render :partial => 'recipes', :object => @recipes %>
  </div>
  </div>
</body>
<div id="user-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">You are signed in as <%=current_user.name %></h2>
   <%= render partial: 'users/in_options'%>
  <a class="close-reveal-modal">&#215;</a>
</div>
    </div>

   </div>
<div id="recipe-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Recipe</h2>
  <%= render partial: 'recipes/form', object: @recipe%>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="potluck-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Potluck</h2>
  <%= render partial: 'potlucks/form', object: @potluck%>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="cookbook-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Cookbook</h2>
  <%= render partial: 'cookbooks/form', object: @cookbook%>
  <a class="close-reveal-modal">&#215;</a>
</div>



<%end%>
</body>
