<%if current_user != nil%>
<body>
<div class="row" id="index-partial">
  <div class="large-12 large-centered columns">
  <%= render :partial => 'recipes', :object => @recipes %>
  </div>
  </div>
<div class="row">
  <div class="large-1 columns large-centered" id="cutlery">
  <%= link_to content_tag(:i, nil, class: "fa fa-home fa-5x"), root_path  %><br><br><br>

  <%= link_to content_tag(:i, nil, class: "fa fa-child fa-5x"), "#", data: {:'reveal-id' => 'user-modal'} %><br><br><br>


 <br>
  </div>
 <div id="potluck-modal" class="reveal-modal" data-reveal>
 <h2 class="page-title">New Potluck</h2>
  <%= render partial: 'potlucks/form', object: @potluck%>
  <a class="close-reveal-modal">&#215;</a>
</div>

   </div>
<div id="recipe-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Recipe</h2>
  <%= render partial: 'recipes/form', object: @recipe%>
  <a class="close-reveal-modal">&#215;</a>
</div>

</body>
<%end%>
