<body>
<div class="row">
<div class="large-6 columns large-left" id="recipe-block">
        <strong>
          <h1 class="recipe-link"><%=@recipe.dish_name%><br></h1>
        </strong>
        <%= image_tag(@recipe.picture, class: "recipe-pic") %><br>

        <% @recipe.tags.each do |tag|%>

            <%= link_to tag, tag_recipes_path(tag.name), class:"custom-label-class", id:'tag' %>
        <% end %>
        <br>
        <br>

  </div>
  <div class="large-6 columns large-right" id="ingredients">
  <h3 class="recipe-link">Ingredients:</h3>
  <%=@recipe.ingredient_list%>
  <h3 class="recipe-link">Instructions:</h3>
  <%=@recipe.instructions%>
  <h3 class="recipe-link">Prep Time:</h3>
  <%=@recipe.prep_time%>
  <h3 class="recipe-link">Cook Time:</h3>
  <%=@recipe.cook_time%>
  <h3 class="recipe-link">Yield:</h3>
  <%=@recipe.yield%>
</div>
</div>
<%= link_to content_tag(:i, nil, class:"fa fa-arrow-left fa-4x"), recipes_path, class:"toggles" %>
<%= link_to content_tag(:i, nil, class:"fa fa-pencil fa-4x"), edit_recipe_path(@recipe), class:"toggles" %>
<td><%= link_to 'Sign out forever', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</body>