<body class="fonts">
  <div class="row">
<div class="large-6 columns large-left" id="recipe-block">
        <strong>
          <h1 class="recipe-link" id="recipe-dish-name"><%=@recipe.dish_name%><br></h1>
          <%if @owner == @recipe.user_id%>

          <h3 class="recipe-link">Told by: <%= link_to @recipe.user.name, user_path(@recipe.user.id) %></h3>
        <%else%>
         <h3 class="recipe-link">Originally by: <%= link_to @owner_user.name, user_path(@owner_user.id) %></h3>
       <h3 class="recipe-link">Retold by: <%= link_to @recipe.user.name, user_path(@recipe.user.id) %></h3>
       <%end%>

        </strong>
        <%if @recipe.picture?%>
        <%= image_tag(@recipe.picture, class: "recipe-pic") %><br>
      <%else%>
        <%= holder_tag '350x260', @recipe.dish_name, 'dark', class: 'recipe-pic', id: 'holder' %>
      <%end%>
        <% @recipe.tags.each do |tag|%>

            <%= link_to tag, tag_recipes_path(tag.name), class:"custom-label-class", id:'tag' %>
        <% end %>
        <br>
        <br>

  </div>
  <div class="large-6 columns large-right" id="ingredients">
  <h3 class="recipe-link">Ingredients:</h3>
  <%= render @ingredients %>
  <h3 class="recipe-link">Instructions:</h3>
  <ul>
  <%@recipe.split_instructions.each do |instruction|%>
    <li> <%= instruction %></li>
<%end%>
  </ul>
  <h3 class="recipe-link">Prep Time:</h3>
  <%=@recipe.prep_time%>
  <h3 class="recipe-link">Cook Time:</h3>
  <%=@recipe.cook_time%>
  <h3 class="recipe-link">Yield:</h3>
  <%=@recipe.yield%>
</div>
</div>
  <div class="large-3 large-left columns list-email">
       <%= form_tag send_email_recipe_path do%>
         <h3 class="recipe-link">Email this list</h3>
        <%= email_field_tag :email, nil, placeholder: "where to?"%>
        <%=submit_tag "Email List!", class: "tiny button radius" %>
      <%end%>
    </div>


<div id="add-cookbook-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">Add Recipe to one of your Cookbooks</h2>
  <%= render partial: 'join_cookbook', object: @recipe%>
  <a class="close-reveal-modal">&#215;</a>
</div>

  <div id="add-potluck-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">Add Recipe to one of your Potlucks</h2>
  <%= render partial: 'join_potluck', object: @recipe%>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="remove-cookbook-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">Remove Recipe From one of your Cookbooks</h2>
  <%= render partial: 'remove_from_cookbook', object: @recipe%>
  <a class="close-reveal-modal">&#215;</a>
</div>



  <div id="remove-potluck-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">Remove Recipe from one of your Potlucks</h2>
  <%= render partial: 'remove_from_potluck', object: @recipe%>
  <br><br>
  <a class="close-reveal-modal">&#215;</a>
</div>

<%content_for :recipe_options do%>
    <%= render partial: 'show_recipe_options'%>
 <%end%>

 <%content_for :cookbook_options do%>
   <%=render partial: 'recipe_cb_options.html.erb'%>
<%end%>

<%content_for :potluck_options do%>
  <%= render partial: 'recipe_pl_options.html.erb'%>
<%end%>

<%content_for :settings_options do%>
   <% render partial: 'users/in_options'%>
<%end%>



</body>
