<body class="fonts">
<div class="row">
<div class="large-6 columns large-left" id="recipe-block">
        <strong>
           <h1 class="recipe-link"><%=@potluck.name%><br></h1>
         <h3 class="recipe-link"><%=@potluck.organizer%><br></h1>
        </strong>
        <%unless current_user.potlucks.include? @potluck%>
        <%= button_to 'Join Potluck', attend_potluck_path(@potluck.id), class:"button"%>
      <%end%>


        <%= form_tag invite_to_potluck_path do%>
          <%= email_field_tag :email%>
          <%=submit_tag "email", class: "button" %>
        <%end%>
        </body>
