<body class="fonts">
  <%unless @organizer == current_user%>
 <%if current_user.potlucks.include? @potluck%>
        <h1 class="recipe-link">You are attending this Potluck!<br></h1>
      <%end%>
    <%end%>

<div class="row">
 <div class="large-6 columns large-left" id="recipe-block">
        <strong>
    <h1 class="recipe-link"><%=@potluck.name%><br></h1>
    <h3 class="recipe-link">Organizer: <%=@potluck.organizer%><br></h1>
        </strong>
     <%if @potluck.invitees.include? current_user.email%>
      <%unless current_user.potlucks.include? @potluck%>
        <%= button_to 'Join Potluck', attend_potluck_path(@potluck.id), class:"button"%>
      <%end%>
    <%end%>
      <%if @organizer == current_user%>
        <%= form_tag invite_to_potluck_path do%>
        <%= email_field_tag :email, nil, placeholder: "Invite your friends!"%>
        <%=submit_tag "Invite", class: "tiny button radius" %>
       <%end%>
       <%end%>
  </div>

  <div class="row">
  <div class="large-6 columns large-right" id="recipe-block">
  <h1 class="recipe-link">Recipes attending:</h1>
  <%@potluck.potluck_signups.each do |signup|%>
    <%if signup.recipe%>
    <%=signup.user.name%> is bringing
    <%=link_to signup.recipe.dish_name, recipe_path(signup.recipe.id)%> <br>
  <%end%>
<%end%>
  </div>
  </div>

  <%if @organizer == current_user%>
    <div class="row">
<div class="large-6 columns large-left" id="recipe-block">
      <h3 class="recipe-link">Your invitees:
      <br> <%@potluck.invitees.each do |invitee|%>
    <%= invitee %> <br>
  <%end%>
</div>
<h3 class="recipe-link">People attending:</h3>
<%@potluck.users.each do |user|%>
<h3 class= "recipe-link"> <%= user.email %> <br> </h3>
        <%end%>
      <%end%>
    <br></h1>
</div>
</div>
      </body>
