<body class="fonts">
  <%unless @organizer == current_user%>
 <%if current_user.potlucks.include? @potluck%>
       <div class="large-6 large-centered columns"%>
        <h1 class="recipe-link">You are attending this Potluck!<br></h1>
      </div>
      <%end%>
    <%end%>

<div class="row">
 <div class="large-6 columns large-left" id="recipe-block">
        <strong>
    <h1 class="recipe-link"><%=@potluck.name%><br></h1>
    <h3 class="recipe-link">Organizer: <%=@potluck.organizer%><br></h1>
        </strong>
     <%if @potluck.invitees.include? current_user.email%>
      <%unless current_user.potlucks.include? @potluck%>
        <%= button_to 'Join Potluck', attend_potluck_path(@potluck.id), class:"button"%>
      <%end%>
    <%end%>
      <%if @organizer == current_user%>
        <%= form_tag invite_to_potluck_path do%>
        <%= email_field_tag :email, nil, placeholder: "Invite your friends!"%>
        <%=submit_tag "Invite", class: "tiny button radius" %>
       <%end%>
       <%end%>
  </div>

  <div class="row">
  <div class="large-6 columns large-right" id="recipe-block">
  <h1 class="recipe-link">Recipes attending:</h1>
  <%if @recipes.empty?%>
    None yet!
  <%else%>
   <%= render :partial => 'recipes/recipes', :object => @recipes %>
 <%end%>
  </div>
  </div>

  <%if @organizer == current_user%>
    <div class="row">
<div class="large-6 columns large-left" id="recipe-block">
      <h3 class="recipe-link">Your invitees:
      <br> <%@potluck.invitees.each do |invitee|%>
    <%= invitee %> <br>
  <%end%>
</div>
<h3 class="recipe-link">People attending:</h3>
<%@potluck.users.each do |user|%>
<h3 class= "recipe-link"> <%= user.email %> <br> </h3>
        <%end%>
      <%end%>
    <br></h1>
</div>
</div>

<%content_for :recipe_options do%>
    <%= render partial: 'recipes/recipe_options'%>
 <%end%>

 <%content_for :cookbook_options do%>
   <%=render partial: 'cookbooks/cookbook_options'%>
<%end%>

<%content_for :potluck_options do%>
  <%= render partial: 'potlucks/po_show'%>
<div class="row">
  <div class="large-6 large-centered columns">
  <%=link_to 'Delete This Potluck', @potluck, method: :delete, data: { confirm: "It would be Potunlucky if you didn't mean to do this. Are you sure?"}, class:'button expand alert' %>
</div>
</div>
<%end%>

<%content_for :settings_options do%>
   <% render partial: 'users/in_options'%>
<%end%>


<div id="potluck-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Potluck</h2>
  <%= render partial: 'potlucks/form', object: @newpotluck%>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="cookbook-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">New Cookbook</h2>
  <%= render partial: 'cookbooks/form', object: @cookbook%>
  <a class="close-reveal-modal">&#215;</a>
</div>



      </body>
