<p id="notice"><%= notice %></p>
<div class="row" id="index-partial">
  <div class="large-12 large-centered columns">
    <%if @user == current_user%>
    <h2 class="recipe-link">Recipes by you</h2>
  <%else%>
    <h2 class="recipe-link">Recipes by <%=@user.name%></h2>
  <%end%>
  <%= render :partial => 'recipes/recipes', :object => @user.recipes%>
  </div>
  </div>

<%= link_to content_tag(:i, nil, class:"fa fa-arrow-left fa-4x"), recipes_path, class:"toggles" %>


<%content_for :recipe_options do%>
    <%= render partial: 'recipes/recipe_options'%>
 <%end%>

 <%content_for :cookbook_options do%>
   <%=render partial: 'cookbooks/cookbook_options'%>
<%end%>

<%content_for :potluck_options do%>
  <%= render partial: 'potlucks/potluck_options'%>
<%end%>

<%content_for :settings_options do%>
   <% render partial: 'users/in_options'%>
<%end%>


