<p id="notice"><%= notice %></p>
<div class="row" id="index-partial">
  <div class="large-12 large-centered columns">
    <h2 class="recipe-link">Recipes by <%=@user.name%></h2>
  <%= render :partial => 'recipes/recipes', :object => @user.recipes%>
  </div>
  </div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
