<body class="fonts">
 <div class="row">
   <%content_for :header do%>
     <%=@cookbook.name%>
        <strong>
    <h3 class="recipe-link">A Recipe Collection by: <%=link_to @cookbook.user.name, user_path(@cookbook.user)%><br></h1>
        </strong>

   <%end%>
  <div class="large-12 columns large-right" id="recipe-block">
  <%if @cookbook.recipes%>
  <%= render :partial => 'recipes/recipes', :object => @recipes %>
  <%end%>
  </div>
  </div>

<div class="row">
 <div class="large-6 columns large-left" id="recipe-block">
 </div>
<%content_for :recipe_options do%>
    <%= render partial: 'recipes/recipe_options'%>
 <%end%>

 <%content_for :cookbook_options do%>
   <%=render partial: 'cookbooks/cookbook_options'%>
   <div class="row">
  <div class="large-6 large-centered columns">
    <%= link_to 'Edit This Cookbook', '#', data: {:'reveal-id'=> "edit-cookbook-modal"}, class:"button expand" %>
     <%=link_to 'Delete This Cookbook', @cookbook, method: :delete, data: { confirm: "I can cook this book, but it's forever. Are you sure?"}, class:'button expand alert' %>
   </div>
 </div>

<%end%>

<%content_for :potluck_options do%>
  <%= render partial: 'potlucks/potluck_options'%>
<%end%>

<%content_for :settings_options do%>
   <% render partial: 'users/in_options'%>
<%end%>

<div id="edit-cookbook-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">Edit Cookbook</h2>
  <%= render partial: 'cookbooks/form', object: @cookbook%>
  <a class="close-reveal-modal">&#215;</a>
  </div>



</body>
