<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Reciperocity" %></title>
    <p class="notice:"><%= notice %></p>
        <p class="alert"><%= alert %></p>

     <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href="css/hover.css" rel="stylesheet" media="all">

 </head>

  <body>
    <div class="row">
  <div class="large-4 large-centered columns">
    <h1 class="page-title"><%= yield :header %></h1>
      </div>
    </div>
<%unless current_user.nil?%>
  <div class="large-1 large-left columns sidebar" id="cutlery">
    <h3 class="page-title" id="sidebarheader"><%=link_to 'Dig in!', root_path, id:'dig-in' %></h3>
    <div class="side-icons">

 <span data-tooltip class="tip-right" id="newrecipe" title="Recipes">
   <%=%>
   <%= link_to (image_tag 'recipe.png', class:'potluckpic', data: {:'reveal-id' => 'recipe-options-modal'}), root_path%>
    </span>

    <span data-tooltip class="tip-right" title="Cookbooks">
<%= link_to (image_tag 'cookbookw.png', class: "potluckpic",id:'cookbook'), '#', class:'potluckpic', data: {:'reveal-id'=>'cookbook-options-modal' } %>
      </span>
      <span data-tooltip class="tip-right" id="pot" title="Potlucks">
 <%= link_to (image_tag 'slice1.png', class:'potluckpic' ), "#", data: {:'reveal-id'=> 'potluck-options-modal'}%>
      </span>

    <span data-tooltip class="tip-right" id="settings" title="Table Settings">
<%= link_to (image_tag 'settings.png', class:'potluckpic', data: {:'reveal-id' => 'user-modal' }) %>
</span>

<div id="recipe-options-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title"></h2>
  <%=yield :recipe_options %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="cookbook-options-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title"></h2>
  <%= yield :cookbook_options %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="user-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">You are signed in as <%=current_user.name %></h2>
   <%=yield :settings_options%>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="potluck-options-modal" class="reveal-modal" data-reveal>
  <h2 class="page-title">Potlucks</h2>
  <%= yield :potluck_options %>
  <a class="close-reveal-modal">&#215;</a>
</div>




 </div>
  </div>

<%end%>

      <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
